<!doctype html>
<html>
   <head>
     <html lang="en"></html>
      <meta charset="utf-8">
      <title>Saída Produto</title>
      <link href="/stylesheets/reset.css" rel="stylesheet" type="text/css">
      <link href="/stylesheets/forms.css" rel="stylesheet" type="text/css">
      <link href="/stylesheets/estilo_home.css" rel="stylesheet" type="text/css">

      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script  type="text/javascript" src="/javascripts/typeahead.min.js"></script>
   </head>
   <body>
      <header>
         <div name="logo" class="espacamento"></div>
         <nav class="menu_principal">
            <ul>
               <li> <a href="#">Início</a></li>
               <li>
                  <a href="">Produtos</a>
                  <ul>
                     <li><a> Novo Produto </a> </li>
                     <li><a> Entrada e Saída de Produto </a></li>
                     <li><a > Editar Produto</a> </li>
                     <li><a> Editar Produto </a></li>
                  </ul>
               </li>
               <li> <a href="#">Estoque </a></li>
               <li>
                  <a href="#">Fornecedores </a>
                  <ul>
                     <li><a href="#"> Novo Fornecedor</a> </li>
                     <li><a href="#"> Lista de Fornecedores</a> </li>
                     <li><a href="#"> Pesquisar Fornecedor</a> </li>
                     <li>
                        <a href="editarfornecedor.html">
                           Editar Fornecedor
                     </li>
                  </ul>
               </li>
               <li> <a href="#">Relatórios </a></li>
               <li> <a href="#">Lucro </a></li>
               <li> <a href="#">Sair </a></li>
            </ul>
         </nav>
         <div class="clear"></div>
      </header>
      <article>
          <h2> Saída Produto</h2>
          <div class="form-row">
            <div class="form-group md-col-5">
            <input type="text" id="search" name="typeahead" class="typeahead tt-query form-control" autocomplete="off" spellcheck="false" placeholder="Type your Query">
            </div>
        </div>
            <div id="output"></div>´
            <div id="output-dados"></div>´

  
          </article>
          </body>
         
          </html>
          <script type="text/javascript">

         
            $(document).ready(function(){
                $('input.typeahead').typeahead({
                    name: 'countries',
                    remote: 'http://localhost:3000/saidaproduto/search?key=%QUERY',
                    limit: 10
            }). bind('typeahead:selected', function(obj, datum, name) {
            var output= document.getElementById('output');
            output.textContent= JSON.stringify(datum);
            load_data();

});           
function load_data(){
 
 $.ajax({
  url: window.location+"/order",
  method:"GET",
  success: function(result) {
       var html;
       for (var i = 0; i< result.length; i++) {
           html += '<td>' + result[i] +'</td>';
       }
       $('#output-dados').html(html);
     }  });
}

 })

            </script>
          
    


           
            