<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link href="/stylesheets/reset.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/estilo_home.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 

<title>Bazar Olimipio | Home</title>
</head>

<body> 
<header>
<div id="logo" class="espacamento"></div>


<nav class="menu_principal">

<ul>

<li> <a href="home">Início</a></li>
<li> <a href="">Produtos</a>
    <ul>
       <li><a href="novoproduto"> Novo Produto </li>
       <li><a href="entradasaida"> Entrada de Produto </li>
       <li><a href="entradasaida"> Saída de Produto </li>

       <li><a href="editarproduto"> Editar Produto </li>

    </ul>
</li>

<li> <a href="#">Estoque </a></li>
<li> <a href="#">Fornecedores </a>
     <ul>
       <li><a href="novofornecedor"> Novo Fornecedor</a> </li>
       <li><a href="#"> Lista de Fornecedores</a> </li>
       <li><a href="#"> Pesquisar Fornecedor</a> </li>
       <li><a href="#"> Editar Fornecedor</li>

    </ul>
</li>
<li> <a href="#">Relatórios </a></li>
 <li> <a href="#">Lucro </a></li>
<li> <button type="button" id="btnSair">Sair</button>></li>


</ul>
Olá, <p> <%= usuario %></p>
</nav>

<div class="clear"></div>
</header>

<article> 
<h1> Menu Rápido </h1>

<div class="img_menu">
<a href="novoproduto"><figure id="item_new" class="item" ></figure></a>
<p class="legenda"><a href="">Novo Produto</a></p>
</div>



<div class="img_menu" >
<a href=""><figure id="item_entrada" class="item"></figure></a>
<p class="legenda"><a href=""> Entrada de Produto</a></p> 
</div>

<div class="img_menu" > 
<a href=""><figure id="item_saida" class="item"></figure></a>
<p class="legenda"> <a href=""> Saída de Produto</p> </a>

</div>



<div class="img_menu">
<a href="novofornecedor"><figure id="item_fornecedor" class="item"></figure></a>
<p class="legenda"><a href=""> Novo Fornecedor</a></p> 
 </div>

<div class="img_menu">
<a href=""><figure id="item_relatorio" class="item"></figure></a>
<p class="legenda"> <a href="">Relatório </a></p> 
</div>

</article>

<footer>  </footer>



</body>
<script>

    $(document).ready(function(){

        $('#btnSair').click(function(){
            window.location.href = '/sair';
        });

    });

</script>

</html>



