<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link href="/stylesheets/reset.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/estilo_home.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 

<title>Bazar Olimipio | Home</title>
</head>

<body> 
    <%- include ('menu'); -%>
<article> 
<h1> Menu Rápido </h1>

<div class="img_menu">
<a href="novoproduto"><figure id="item_new" class="item" ></figure></a>
<p class="legenda"><a href="">Novo Produto</a></p>
</div>



<div class="img_menu" >
<a href=""><figure id="item_entrada" class="item"></figure></a>
<p class="legenda"><a href=""> Entrada de Produto</a></p> 
</div>

<div class="img_menu" > 
<a href=""><figure id="item_saida" class="item"></figure></a>
<p class="legenda"> <a href=""> Saída de Produto</p> </a>

</div>



<div class="img_menu">
<a href="novofornecedor"><figure id="item_fornecedor" class="item"></figure></a>
<p class="legenda"><a href=""> Novo Fornecedor</a></p> 
 </div>

<div class="img_menu">
<a href=""><figure id="item_relatorio" class="item"></figure></a>
<p class="legenda"> <a href="">Relatório </a></p> 
</div>

</article>

<footer>  </footer>



</body>
<script>

    $(document).ready(function(){

        $('#btnSair').click(function(){
            window.location.href = '/sair';
        });

    });

</script>

</html>



