<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link href="/stylesheets/reset.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/menu.css" type="text/css" rel="stylesheet">
<link href="/stylesheets/estilo_home.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
<script  type="text/javascript" src="/javascripts/jquery-3.2.0.min.js"></script>
<script  type="text/javascript" src="/javascripts/typeahead.min.js"></script>
<script type="text/javascript" src="/javascripts/script.js"></script>

<title>Bazar Olimpio | Home</title>
</head>

<body> 
  
    <%- include('menu'); %>
      
<div id="conteudo"> 
<h1> Menu Rápido </h1>

<div id="conteudo_item_menu">

<div class="item">
<div class="imagem">
<a href="novoproduto"><figure id="item_new"  >
    <img src="../imagens/icon-new.png" alt="Novo Produto">
</figure></a>
</div>
<div class="legenda">
<p ><a href="novoproduto">Novo Produto</a></p>
</div>

</div>


<div class="item">
<div class="imagem" >
<a href="produtoxml"><figure id="entradaxml">
    <img src="../imagens/icon-entrada.png" alt="Entrada XML">
</figure></a>
</div>
<div class="legenda">
<p ><a href="produtoxml"> Entrada de Produto</a></p> 
</div>
</div>


<div class="item">
<div class="imagem" > 
<a href="saidaproduto"><figure id="saida" >
    <img src="../imagens/icon-saida.png" alt="Saída de Produto">
</figure></a>
</div>
<div class="legenda">
<p > <a href="saidaproduto"> Saída de Produto</p> </a>
</div>
</div>



<div class="item">
    <div class ="imagem"> 
      <a href="novofornecedor"> <figure>
            <img src='../imagens/icon-fornecedor.png' alt="Novo Fornecedor">
        </figure> </a>
    </div>
    <div class="legenda">
        <p class="legenda"><a href="novofornecedor"> Novo Fornecedor</a></p> 
   </div>
 </div>

<div class="item">
    <div class="imagem">
        <a href="relatorios">
        <figure>
                <img src='../imagens/icon-relatorio.png' alt="Relatórios">
        </figure></a>
    </div>
    <div class="legenda">
       <p class="legenda"> <a href="">Relatórios </a></p> 
    </div>
</div>

</div>
</div>



</body>

</html>



