<link href="/stylesheets/style-menu.css" type="text/css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">

<div class="menu">
    <nav class="menu_principal">
      <ul>
        <li><a href="home"> <i class="fas fa-home"></i> Início</a></li>
        <li> <a href=""> <i class="fas fa-tag"></i>  Produtos</a>
          <ul>
            <li><a href="novoproduto"> Novo Produto </li>
            <li><a href="entradasaida"> Adicionar nota XML </li>
            <li><a href="entradasaida"> Saída de Produto </li>
            <li><a href="editarproduto"> Editar Produto </li>
          </ul>
        </li>
        <li> <a href="#"> <i class="fas fa-truck"></i>  Fornecedores </a>
          <ul>
            <li><a href="novofornecedor"> Novo Fornecedor</a> </li>
            <li><a href="#"> Editar Fornecedor</a> </li>
            <li><a href="#"> Pesquisar Fornecedor</a> </li>
            <li><a href="#"> Lista de Fornecedores </a> </li>
          </ul>
        </li>
        <li> <a href="#"> <i class="far fa-clipboard"></i> Estoque </a></li>
        <ul>
          <li><a href=""> Produtos sem estoque </a> </li>
          <li><a href="#"> Mais Vendidos </a> </li>
          <li><a href="#"> Menos Vendidos </a> </li>
          <li><a href="#"> Produtos Comprados </a> </li>
        </ul>
        <li> <a href="#"> <i class="fas fa-dollar-sign"></i>Lucro </a></li>
        <ul>
          <li><a href="#"> Por mês </a> </li>
          <li><a href="#"> Por Semana </a> </li>
          <li><a href="#"> Por Ano </a> </li>
        </ul>
        <li> <a href="#">  Gastos </a></li>
        <ul>
          <li><a href="#"> Loja</a> </li>
          <li><a href="#"> Pessoais </a> </li>
        </ul>
        <li>
          <button type="button" id="btnSair"> Sair</button>
          <i class="fas fa-times"></i> </li>
      </ul>
    </nav>
</div>
  
  <div id="barraIdentificacao">
                  <div id="logo"></div>
                  <div id="conteudoId">
                      Olá <b><span id="lblLogado">  </span></b>
                      <span>|</span>
                      <a href="">Alterar Senha</a>
                      <span>|</span>
                      <a href="" class="lnkBrancoSimples">Sair</a>
                  </div>
              </div>
  