<!doctype html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Novo Produto</title>
      <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
      <script src="/javascripts/jquery.maskMoney.min.js" type="text/javascript"></script>

      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" type="text/javascript"></script>
      <link href="/stylesheets/reset.css" rel="stylesheet" type="text/css">
      <link href="/stylesheets/forms.css" rel="stylesheet" type="text/css">
      <link href="/stylesheets/estilo_home.css" rel="stylesheet" type="text/css">
      <link href="/stylesheets/menu.css" rel="stylesheet" type="text/css">
      <script type="text/javascript" src="/javascripts/script.js"></script>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">


   </head>
   <body>
    <%- include('menu'); %>
    
      <div id="conteudo">
      <h1>Produto</h1>
      <br>
      <h2>Novo Produto</h2>
      <br>
      <h5>Dados do Produto</h5>

      <hr class="divisoria" />
      
     
         <form id="form"  action="" method="post">
            <div class="form-row">
               <div class="form-group  md-col-2" >
                  <label for="cd_produto">Código</label>
                  <input id="cd_produto" name="cd_produto" class="form-control" type="text"   />
               </div>
               <div class="form-group  md-col-2" >
                  <label for="cd_ncm">NCM</label>
                  <input id="cd_ncm" name="cd_ncm" class="form-control" type="text"   />
               </div>
               <div class="form-group  md-col-6">
                  <label for="ds_produto">Nome Produto</label>
                  <input id="ds_produto" class="form-control" name="ds_produto" />
               </div>
            </div>
            <div class="form-row">
               <div class="form-group md-col-2">
                  <label for="nm_embalagem">Embalagem</label>
                  <select id="nm_embalagem" name="nm_embalagem" class="form-control">
                     <option>UN</option>
                     <option>PC</option>
                     <option>RL</option>
                     <option>CA</option>
                     <option>RM</option>
                  </select>
               </div>
               <div class="form-group md-col-2">
                  <label for="qt_estoque">Quantidade</label>
                  <input id="qt_estoque" name="qt_estoque" type="number" class="form-control" style="width:100%"/> 
               </div>
               <div class="form-group md-col-2">
                  <label for="vl_unitario">Valor Unitário</label>
                  <input id="vl_unitario"  name="vl_unitario" type="" class="form-control mask" placeholder="R$" />
               </div>
               <div class="form-group md-col-2">
                  <label for="vl_total">Valor Total</label>
                  <input id="vl_total"  name="vl_total" class="form-control mask" placeholder="R$" type="" />
               </div>
            </div>
            <h5>Dados da Nota Fisca do Produto </h5>

            <hr class="divisoria" />
            <div class="form-row">
               <div class="form-group md-col-3">
                  <label for="nm_fantasia">Selecione o fornecedor:</label>
                  <select id="nm_fantasia" name="nm_fantasia" class="form-control">
                     <option selected>-</option>
                     <% for (var i=0; i< dadosFor.length; i++){ %>
                     <option value="<%=dadosFor[i].cd_fornecedor %>"> <%= dadosFor[i].nm_fantasia %></option>
                     <% } %>
                  </select>
               </div>

               <div class="form-group md-col-3">
                  <label for="cd_nfe">Nº Nota Fiscal </label>
                  <select id="cd_nfe" name="cd_nfe" class="form-control" disabled>
                  </select>
               </div>
            </div>


            <button type="button" id="btnGravar" data-toggle="modal" data-target="#mymodal"> Inserir</button>
            <input id="btnCancelar" type="reset"/>
            <div id="mymodal" class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Salvar Produto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                  Deseja salvar os dados?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary" onclick="document.querySelector('#form').submit()">Salvar</button>
                  </div>
                </div>
              </div>
            </div>
         </form>
        </div>
        <% if (msg.length > 0){ %>
          <div class="alert alert-success alert-dismissible" id="msg">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <%= msg %>
          </div>
        <% } %>   
  </body>

   <script>

      $(function() {
        $('.mask').maskMoney({
             decimal: ".",
             thousands: "."
        }
        );
      });

      var select =  document.getElementById('nm_fantasia');
      var select2 = document.getElementById('cd_nfe');
      var form = document.querySelector('#form');

      select.addEventListener('change', function(){


         if (select.value == '-'){
            document.getElementById("cd_nfe").disabled = true;
         } 

         else{
  
            document.getElementById("cd_nfe").disabled = false;
            
            var fornSelecionado={};
            fornSelecionado.fornecedor_cd_fornecedor=select.value;
            var jason = JSON.stringify(fornSelecionado);

            $.ajax({
               url:'/cdfornecedor/cdnota',
               method:'post',
               contentType: "application/json",
               data:jason,
               success: function(dados){
                  if (dados != null) {
                    var selectbox = $('#cd_nfe');
                    selectbox.find('option').remove();
                    
                    $.each(dados, function (i, d) {
                     $('<option>').val(d.cd_nfe).text(d.cd_nfe).appendTo(selectbox);
                    });
                  } 
                  else{

                  }
               }
            })
         }
      });

   </script>
</html>
