<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Novo Fornecedor</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
    <script src="/javascripts/jquery.maskMoney.min.js" type="text/javascript"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <link href="/stylesheets/reset.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/forms.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/estilo_home.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/menu.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/javascripts/script.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <script type="text/javascript" src="/javascripts/jquery.mask.js"></script>

  </head>

  <%- include('menu'); %>
  

    <div id="conteudo">
  <h1>Fornecedor</h1>
  <br>
  <h2> Novo Fornecedor</h2>
  <br>
  <h5>Dados do Fornecedor</h5>
  <hr class="divisoria" />
  <form id="form" method="post">

    <div class="form-row">
      <div class="form-group  md-col-5">
        <label for="nm_razao">Nome/Razão Social</label>
        <input id="nm_razao" class="form-control" name="nm_razao" />
      </div>
      
      <div class="form-group  md-col-5">
        <label for="nm_fantasia">Nome Fantasia</label>
        <input id="nm_fantasia" class="form-control" name="nm_fantasia" />
      </div>
    </div>
  

    <div class="form-row">
      <div class="form-group md-col-3">
        <label for="cd_cnpj">CNPJ</label>
        <input id="cd_cnpj" name="cd_cnpj" class="form-control cnpj"   />
      </div>

      <div class="form-group md-col-3">
        <label for="cd_ie">Inscrição Estadual</label>
        <input id="cd_ie" name="cd_ie"  class="form-control ie"/> 
      </div>
    </div>

    <h5>Dados de Contato</h5>

    <hr class="divisoria" />

    <div class="form-row">
      <div class="form-group md-col-2">
        <label for="cd_cep">CEP</label>
        <input id="cd_cep" name="cd_cep" class="form-control cep" />
      </div>

      <div class="form-group md-col-4">
        <label for="ds_endereco">Endereço</label>
        <input id="ds_endereco" name="ds_endereco" class="form-control"  />
      </div>

      <div class="form-group md-col-1">
        <label for="cd_numero">Número</label>
        <input id="cd_numero" name="cd_numero" class="form-control"  />
      </div>

      <div class="form-group md-col-3">
        <label for="nm_bairro">Bairro</label>
        <input id="nm_bairro" name="nm_bairro" class="form-control" type="" />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group md-col-2">
        <label for="nm_cidade">Cidade</label>
        <input id="nm_cidade" name="nm_cidade" class="form-control" />
      </div>

      <div class="form-group md-col-1">
        <label for="nm_estado">Estado</label>
        <input id="nm_estado" name="nm_estado" class="form-control" />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group md-col-2">
        <label for="nm_vendedor">Telefone 1</label>
        <input id="nm_vendedor" name="nm_vendedor" class="form-control telefone"/>
      </div>

      <div class="form-group md-col-2">
        <label for="cd_telvendedor">Telefone 2</label>
        <input id="cd_telvendedor" name="cd_telvendedor" class="form-control telefone" type="" />
      </div>

      <div class="form-group md-col-3">
        <label for="nm_email">Email</label>
        <input id="nm_email" name="nm_email" class="form-control" type="email" />
      </div>

      <div class="form-group md-col-3">
        <label for="nm_site">Site</label>
        <input id="nm_site" name="nm_site" class="form-control"  />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group md-col-5">
        <label for="nm_vendedor">Vendedor</label>
        <input id="nm_vendedor" name="nm_vendedor" class="form-control"/>
      </div>
    
      <div class="form-group md-col-2">
        <label for="cd_telvendedor">Celular</label>
        <input id="cd_telvendedor" name="cd_telvendedor" class="form-control celular" />
      </div>
    </div>

     <input id="btnCancelar" type="reset"/>
     <button id="btnGravar" type="button" data-toggle="modal" data-target="#mymodal" >Inserir</button>

    <div id="mymodal" class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Salvar Novo Fornecedor</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Deseja salvar os dados?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            <button type="button" class="btn btn-primary" onclick="document.querySelector('#form').submit()">Salvar</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
</body>
<script>

  

$(document).ready(function(){
  $('.cep').mask('00000-000');
  $('.telefone').mask('(00) 0000-0000');
  $('.cpf').mask('000.000.000-00', {reverse: true});
  $('.cnpj').mask('00.000.000/0000-00', {reverse: true});
  $('.ie').mask('000.000.000/0000-00', {reverse: true});/*arrumar função unmask() para remover as máscaras de edição*/

var maskBehavior = function (val) {
  return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
},
options = {onKeyPress: function(val, e, field, options) {
        field.mask(maskBehavior.apply({}, arguments), options);
    }
};

  $('celular').mask(maskBehavior, options);



});


</script>
</html>
