<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link href="/stylesheets/reset.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/menu.css" type="text/css" rel="stylesheet">
<link href="/stylesheets/estilo_home.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
<script type="text/javascript" src="/javascripts/script.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">


<title>Bazar Olimpio | Home</title>
</head>

<body> 
  <%- include('menu'); %>
  
    <div id="barraIdentificacao">
        <div id="logo"></div>
        <div id="conteudoId"> Olá, <b><span id="lblLogado">  <%= usuario %> </span></b> <span>|</span> <a href="">Alterar Senha</a> <span>|</span>
          <button type="button" id="btnSair"> Sair</button>
        </div>
      </div>

      <div id="conteudo">
      <h1>Relatórios</h1>
    Produtos Mais Vendidos
    Produtos Menos Vendidos
    Produtos com Estoque Minimo
    Produtos com Estoque Máximo
    Consumo de Produto
    Gastos Pessoais
    Gastos da Loja
    Todos fornecedores

   

      </div>
      </body>
      </html>