<% include header %>
<% include aside %>


    <div id="barraIdentificacao">
        <div id="logo"></div>
        <div id="conteudoId"> Olá, <b><span id="lblLogado">  <%= usuario %> </span></b> <span>|</span> <a href="">Alterar Senha</a> <span>|</span>
          <button type="button" id="btnSair"> Sair</button>
        </div>
      </div>

      <div id="conteudo">
      <h1>Relatórios</h1>
    Produtos Mais Vendidos
    Produtos Menos Vendidos
    Produtos com Estoque Minimo
    Produtos com Estoque Máximo
    Consumo de Produto
    Gastos Pessoais
    Gastos da Loja
    Todos fornecedores

   

      </div>
      </body>
      </html>