<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link href="/stylesheets/reset.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/menu.css" type="text/css" rel="stylesheet">
<link href="/stylesheets/estilo_home.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">


<title>Bazar Olimpio | Home</title>
</head>

<body> 
    <aside>
        <nav class="menu_principal">
          <ul>
            <li><a href="home"> <i class="fas fa-home"></i> Início</a></li>
            <li> <a href=""> <i class="fas fa-tag"></i> Produtos</a>
              <ul>
                <li><a href="novoproduto"> Novo Produto </li>
                <li><a href="entradasaida"> Adicionar nota XML </li>
                <li><a href="entradasaida"> Saída de Produto </li>
                <li><a href="editarproduto"> Editar Produto </li>
              </ul>
            </li>
            <li> <a href="#"> <i class="fas fa-truck"></i> Fornecedores </a>
              <ul>
                <li><a href="novofornecedor"> Novo Fornecedor</a> </li>
                <li><a href="#"> Editar Fornecedor</a> </li>
                <li><a href="#"> Pesquisar Fornecedor</a> </li>
                <li><a href="#"> Lista de Fornecedores </a> </li>
              </ul>
            </li>
            <li> <a href="#"> <i class="far fa-clipboard"></i> Estoque </a>
              <ul>
                <li><a href=""> Produtos sem estoque </a> </li>
                <li><a href="#"> Mais Vendidos </a> </li>
                <li><a href="#"> Menos Vendidos </a> </li>
                <li><a href="#"> Produtos Comprados </a> </li>
              </ul>
            </li>
            <li> <a href="#"> <i class="fas fa-dollar-sign"></i>Lucro </a>
              <ul>
                <li><a href="#"> Por mês </a> </li>
                <li><a href="#"> Por Semana </a> </li>
                <li><a href="#"> Por Ano </a> </li>
              </ul>
            </li>
            <li> <a href="#"><i class="fas fa-wallet"></i> Despesas </a>
              <ul>
                <li><a href="#"> Loja</a> </li>
                <li><a href="#"> Pessoais </a> </li>
              </ul>
            </li>
            <li>
             <i class="fas fa-times"></i><button type="button" id="btnSair"> Sair</button>
            </li>
          </ul>
        </nav>
      </aside>
      <div id="barraIdentificacao">
        <div id="logo"></div>
        <div id="conteudoId"> Olá, <b><span id="lblLogado">  <%= usuario %> </span></b> <span>|</span> <a href="">Alterar Senha</a> <span>|</span>
          <button type="button" id="btnSair"> Sair</button>
        </div>
      </div>

      <div id="conteudo">
      <h1>Relatórios</h1>
    Produtos Mais Vendidos
    Produtos Menos Vendidos
    Produtos com Estoque Minimo
    Produtos com Estoque Máximo
    Consumo de Produto
    Gastos Pessoais
    Gastos da Loja
    Todos fornecedores

   

      </div>