<% include header %>
<% include aside %>


      <div id="barraIdentificacao">
        <div id="logo"></div>
        <div id="conteudoId"> Olá <b><span id="lblLogado"> <%= usuario %> </span></b> <span>|</span> <a href="">Alterar Senha</a> <span>|</span>
          <button type="button" id="btnSair"> Sair</button>
        </div>
      </div>

      <div id="conteudo">
          <h1>Produto</h1>
          <br>
          <h2> Saída Produto</h2>

        <div id="custom-templates">
            <input type="text" id="search" name="typeahead" class="typeahead tt-query" autocomplete="off" spellcheck="false" placeholder="Entre com o código do produto ou descrição">
        </div>

        <div id="result">
            <form id="form" method="post" action="/atualizarEstoque">
                <div class="form-row">
                    <div class="form-group  md-col-2" >
                        <label for="estoque_cd_produto">Código</label>
                        <input id="estoque_cd_produto" name="estoque_cd_produto" class="form-control" type="text"   />
                    </div>
                </div>

                        <div class="form-row">
                        <div class="form-group  md-col-8">
                            <label for="ds_produto">Nome Produto</label>
                            <input id="ds_produto" class="form-control" name="ds_produto" />
                         </div>
                         </div>
                         <div class="form-row">
                         <div class="form-group md-col-2">
                            <label for="qt_produto">Quantidade</label>
                            <input id="qt_produto" name="qt_produto" type="number" class="form-control" style="width:100%"/> 
                         </div>

                         <div class="form-group md-col-2" style="display:none">
                            <label for="vl_unitario">Valor</label>
                            <input id="vl_unitario" name="vl_unitario" class="form-control" style="width:100%"/> 
                         </div>

                         </div>
                         <br>

                         <div id="container-contador">
                         <span>Em estoque:</span> <label id="contador"></label> 
                        </div>
                        <br>
                         <button id="btnAtualizar" type="submit"> Atualizar </button>     
                        </form>


                        </div>
          
                    </div>
                    <% if (msg.length > 0){ %>
                      <div class="alert alert-sucess alert-dismissible" id="msg">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                          <%= msg %>
                      </div>
                    <% } %>   
                    
            
          </body>
         
          </html>
          <script type="text/javascript">

         
            $(document).ready(function(){
                var registros = new Bloodhound({
                  datumTokenizer: function(datum) {
                    return Bloodhound.tokenizers.whitespace(datum.value);
                  },
                  queryTokenizer: Bloodhound.tokenizers.whitespace,
                  remote: {
                    wildcard: '%QUERY',
                    url: '/saidaproduto/search?key=%QUERY'
                  }
                });

                $('#custom-templates .typeahead').typeahead(null, {
                  display: 'ds_produto',
                  name:'produtos',
                  identify: function(obj) { return obj.cd_produto; },
                  templates: {
                    suggestion: function(data){
                          return '<p><strong>' + data.cd_produto + '</strong> - ' + data.ds_produto + '</p>';
                    }
                  },
                  source: registros
                }). bind('typeahead:selected', function(obj, datum, name) {
                    var codigo = document.getElementById('estoque_cd_produto');
                    var descricao = document.getElementById('ds_produto');
                    var valor = document.getElementById('vl_unitario');
                    var lbl_contador = document.getElementById('contador');
                    
                    codigo.value=datum.cd_produto;
                    descricao.value=datum.ds_produto;
                    valor.value =datum.vl_unitario;
                    lbl_contador.textContent=datum.qt_produto;



                });   

            })

            </script>
          
    


           
            