@charset "utf-8";
/* CSS Document */

 .TabControl{width:100%; 
  height:100%;}
  
 .TabControl #header{ width:100%; 
 overflow:hidden; 
 cursor:hand;}
 
 
  .TabControl #content{ width:100%; 
   border: 1px solid #ced4da;
   height:100%; }
   
   
   
  .TabControl .abas{display:inline;}
  
  .TabControl .abas li{float:left; }
  
  .aba{width:200px;
   height:30px; 
   border:1px solid #ced4da; 
   border-radius:5px 5px 0 0;
   text-align:center; 
   padding-top:5px;
  margin-right:5px;}
	
   .ativa{width:200px; 
   height:30px;
   border-radius:5px 5px 0 0;
   text-align:center; 
   padding-top:5px; 
  }
   
    .ativa span, .selected span{}
	
    .TabControl #content{height:100%}
	
    .TabControl .conteudo{width:100%; 
	 display:none; 
	 height:100%;
	 color:black;}
	 
    .selected{width:200px; 
	height:30px;
	 border:solid 1 px; 
	 border-radius:5px 5px 0 0;
        text-align:center;
		 padding-top:5px;
		  background:#27408B}

 

