.click-grid {
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    border: solid #d4d8dc;
    border-radius: 0;
    border-width: 1px 0 0 1px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 110;
   
}

.click-grid__box .click-grid__label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
    border: solid #d4d8dc;
    border-width: 0 1px 1px 0;
    color: #7e7f88;
    cursor: pointer;
    display: grid;
    font-weight: 500;
    height: 100%;
    margin-bottom: 0;
    min-height: 40px;
    padding: 13px 5px;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 100;
}
.click-grid__input:checked+.click-grid__label {
    background-color: #526173;
    border-color: #5b667d;
    color: #F1F2F4;
}

input[type='checkbox']+label, .page-v1 input[type='radio']+label {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

.click-grid__input {
    height: 0;
    position: absolute;
    width: 0;
    z-index: -1000;
}